{% extends "layout.twig" %}

{% block titulo %}Editando Post{% endblock %}

{% block conteudo %}
    <div class="container">
        <form class="form-horizontal" method="POST" action="/post/update/{{post.id}}" role="form">
            <input type="hidden" name="_method" value="PUT">
            <fieldset>
                <legend>Inserindo Post</legend>

                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" value="{{post.id}}" readonly>
                </div>    

                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" value="{{post.titulo}}" required>
                </div>

                <div class="form-group">
                    <label for="conteudo">Conteudo</label>
                    <input type="text" class="form-control" id="conteudo" name="conteudo" value="{{post.conteudo}}" required>
                </div>

            </fieldset>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Salvar">
                <a class="btn btn-primary" href="{{path('/posts')}}">Cancelar</a>
            </div>               
        </form>
    </div>

{% endblock %}
