{% extends "layout.twig" %}

{% block titulo %}Posts{% endblock %}

{% block conteudo %}
    <div class="container">

        {% if posts != null %}
            <table class="table table-striped table-bordered">
                <caption class="text-center"><h3>Posts</h3></caption>
                <thead>
                    <tr><th>Codigo</th><th>Titulo</th><th>Conteudo</th><th></th><th></th><th></th></tr>
                </thead>
                <tbody>

                    {% for post in posts %}
                        <tr><td>{{post.id}}</td><td>{{post.titulo}}</td>
                            <td>{{post.conteudo}}</td>
                            <td><a class="btn btn-primary" href="{{ path('/post/visualizar',{id: post.id})}}">Visualizar</a></td>
                            <td><a class="btn btn-primary" href="{{ path('/post/editar',{id: post.id})}}">Editar</a></td>
                            <td>
                                <form action="/post/excluir" method="post">
                                    <input type="hidden" id="_method" name="_method" value="DELETE">
                                    <a class="btn btn-primary" href="{{ path('/post/excluir',{id: post.id})}}">
                                        Excluir
                                    </a>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h1 class="jumbotron">Nao ha posts inseridos.</h1>
        {% endif%}
        <a class="btn btn-primary" href="{{ path('/post/novo')}}">Novo</a>
    </div>
{% endblock %}